<div class="section group">
	<div class="col span_1_of_3">
		<p> Your personal note taking canvas.</p>
		<p> Accessible anytime, anywhere.</p>
		<p> Adjusts to your mobile device.</p>
	</div>
	<div class="col span_1_of_3">
		{{#if user}}
			<p> <a id = "link" href=/users/{{user.username}}> My Notes </a></p>
			
		{{else}}
			<p id = "logged"> Create an account to get started! </p>

			<a class = "button" href="/login">Log In</a> 
			&nbsp;
			or
			&nbsp;  
			<a class = "button" href="/register">Sign Up Now</a>
		{{/if}}
	</div>
	
	<div class="col span_1_of_3">
		<p> Add and save notes and to-do lists. </p>
		<p> Check off items on your to-do lists. </p>
		<p> Edit and update saved notes. </p>		
	</div>
</div>