<h1>Login</h1>

{{message}}

<form id = "login_form" method="POST" action="">
<div id = "login">
	<label>USERNAME:</label> <br> <input id = "input" type="text" name="username" required>	
	<br>
	<label>PASSWORD:</label> <br> <input id = "input" type="password" name="password" required> 
</div>
	<input class = "button" type="submit" value= "Log in">	
</form>