<h1>Register</h1>

{{message}}
<br>
<form id = "register_form" action="" method="POST">

<div id = "login">
	<label for="firstname">FIRST NAME:</label> <br> 
	<input id="input" type="text" name="firstName" required>
	<br>
	<label for="username" >USERNAME:</label> <br> 
	<input id = "input" type="text" name="username" required>
	<br>
	<label for="password" >PASSWORD:</label> <br> 
	<input id = "input" type="password" name="password" required>
</div>

<input class = "button" type="submit" value="Sign Up Now">

</form>